body {
    background-color: pink;
}

.homepage_heading {
    color: blue;
}

.password_generator_heading {
    color: rgb(190, 15, 182);
}

.homepage_container {  display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dog_area_1 main_area dog_area_2";
  }
  
  .dog_area_1 { grid-area: dog_area_1; background-color: rgb(114, 36, 95); }
  
  .dog_area_2 { grid-area: dog_area_2; background-color: rgb(114, 36, 95);}
  
  .main_area { grid-area: main_area; }
  
  
  html, body , .homepage_container {
    height: 100%;
    margin: 0;
  }
  
  /* For presentation only, no need to copy the code below */
  /*
  .homepage_container * {
    border: 1px solid red;
    position: relative;
  }
  
  .homepage_container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  */