<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Nathalie">
        <meta name="keywords" content="cooking, recipes, food, chef, chloe, chloe's recipes, chloe's cooking, chloe's food, chloe's chef, chloe's kitchen, chloe's kitchen recipes, chloe's kitchen cooking, chloe's kitchen food, chloe's kitchen chef, chloe's kitchen's recipes, chloe's kitchen's cooking, chloe's kitchen's food, chloe's kitchen's chef, chloe's kitchen's kitchen, chloe's kitchen's kitchen recipes, chloe's kitchen's kitchen cooking, chloe's kitchen's kitchen food, chloe's kitchen's kitchen chef, chloe's kitchen's kitchen's recipes, chloe's kitchen's kitchen's cooking, chloe's kitchen's kitchen's food, chloe's kitchen's kitchen's chef, chloe's kitchen's kitchen's kitchen, chloe's kitchen's kitchen's kitchen recipes, chloe's kitchen's kitchen's kitchen cooking, chloe's kitchen's kitchen's kitchen food, chloe's kitchen's kitchen's kitchen chef">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 day">
        <meta name="language" content="English">
        <!-- Primary Meta Tags -->
        <meta name="title" content="Cooking with Chloe" />
        <meta name="description" content="Always wanted to be a chef? Well.. Chloe can help with that. She will give you the ABSOLUTE BEST and EASIEST to follow recipes, so put your apron on." />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://nathalie-projects.esam.uk/apps/recipe_book" />
        <meta property="og:title" content="Cooking with Chloe" />
        <meta property="og:description" content="Always wanted to be a chef? Well.. Chloe can help with that. She will give you the ABSOLUTE BEST and EASIEST to follow recipes, so put your apron on." />
        <meta property="og:image" content="{{ url_for('static', filename='images/westie_cake.jpg') }}" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://nathalie-projects.esam.uk/apps/recipe_book" />
        <meta property="twitter:title" content="Cooking with Chloe" />
        <meta property="twitter:description" content="Always wanted to be a chef? Well.. Chloe can help with that. She will give you the ABSOLUTE BEST and EASIEST to follow recipes, so put your apron on." />
        <meta property="twitter:image" content="{{ url_for('static', filename='images/westie_cake.jpg') }}" />

        <title>Cooking with Chloe</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&display=swap">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe_book.css') }}">
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    </head>
    <body>
        <h1>Welcome to cooking with Chloe!</h1>
    </body>
</html>