<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <title>Welcome to my projects page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="content_container">
      <div class="side_area_1">
        <img src="https://i.pinimg.com/originals/93/b3/c7/93b3c73cf926d62f2e3493922aeed9e7.jpg" width="600px" alt="dog">
      </div>
      <div class="side_area_2">
        <img src="https://i.pinimg.com/originals/99/5d/1b/995d1b49b4845ed0a7839cacc4523552.jpg" width="600px" alt="dog">
        <img src="https://i.pinimg.com/originals/99/5d/1b/995d1b49b4845ed0a7839cacc4523552.jpg" width="600px" alt="dog">
      </div>
      <div class="main_area">
        <h1 class="homepage_heading">My Projects</h1>
        <p>Here are some of my projects</p>
        <ul>
          <li><a href="/apps/password_generator">Password Generator</a></li>
          <li><a href="/apps/recipe_book">Recipe Book</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>